.SigninForm {
    padding-top: 0.5rem;
    height: 85vh;
}

.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
}

.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
}

.sign-in-icon {
    font-size: 1.3rem;
}

.input-remember {
    display: flex;
}

.input-remember label {
    margin-left: 0.25rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.input-wrapper label {
    font-weight: bold;
}

.input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
}

@media (min-width: 720px) {
    .SigninForm {
        padding-top: 1.2rem;
    }

    .sign-in-content {
        width: 450px;
        padding: 3rem;
    }

    .input-wrapper label {
        font-size: 1.5rem;
    }

    .input-wrapper {
        margin-bottom: 2rem;
    }

    .input-wrapper input {
        padding: 10px;
        font-size: 1.5rem;
    }

    .sign-in-content h1 {
        font-size: 2.3rem;

    }

    .input-remember label {
        font-size: 1.5rem;
    }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5);
        /* IE */
        -moz-transform: scale(1.5);
        /* FF */
        -webkit-transform: scale(1.5);
        /* Safari and Chrome */
        -o-transform: scale(1.5);
        /* Opera */
        transform: scale(1.5);
        padding: 10px;
    }

    .sign-in-button {
        padding: 15px;
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
}